from telegram import Update
from telegram.ext import Application, CommandHandler, CallbackContext, MessageHandler, filters, CallbackQueryHandler
from telegram import ChatPermissions, Update
from telegram import InlineKeyboardButton, InlineKeyboardMarkup
import wikipediaapi
import requests
import yt_dlp
import os
import random
import asyncio
